<form action="/CheckOut" method="POST">
    <select name="names">
        <% for(var i=0;i < dropdowns.length ;i++){ %>
        <option><%= dropdowns[i].firstName +"    "%><%= dropdowns[i].lastName%></option>
        
    <% }; %>
    </select>
    <select name="bookTitle">
        <% for(var i=0;i < dropdowns.length ;i++){ %>
        <option><%= dropdowns[i].bookTitle%></option>
        <% }; %>
    </select>
    <input type="submit" name="submit" value="Submit" >
  

    <% items.forEach((item)=> {%> 
        <tr>   
          <td><%= item.firstName %></td>
          <td> <%= item.bookName %></td>
    <td>   <form action="/delete/<%=item.regNo%>" method="POST">
             <input type="submit" value=Delete></form></td>
           <td>     <a href="/edit/<%=item.studentId%>">Edit</a></td>
            <br> </tr>
    <% }); %>
</form>